
<h1>{{ 'demo.title' | translate }}</h1>

<!-- translation: translation pipe -->
<p>{{ 'demo.text' | translate }}</p>

<!-- translation: directive (key as attribute)-->
<p [translate]="'demo.text'"></p>

<!-- u can use with parameter translation pipe : when u don't what is data will be is  -->
<p>{{ 'demo.greeting' | translate:{'name':'hello'} }}</p>

<!-- u can use it about html  -->
<div [innerHTML]="'demo.paragraph' | translate"></div>

<!-- when u want to change your Current Language -->
<button (click)="useLanguage('ar')">ar</button>
<button (click)="useLanguage('en')">en</button>

<ul>
    <!-- this is complex translate the condition and select with any condition and get value  -->
    <li>{{'icu.pluralization' | translate:{ 'count': "simple" } }}</li>
</ul>

<ul>
<!-- this is complex translate the condition and select with any select and get value  -->
<li>{{'icu.select' | translate:{ 'gender': 'male', 'product': 'BabelEdit' } }}</li>
</ul>


<!-- Loop when u want to get many translate -->
<ul >
  <li *ngFor="let language of languages"> 
    <a href="{{ 'languages.' + language | translate }}"> {{ 'languages.' + language | translate }} </a> 
  </li>
</ul>
<!-- Loop when u want to get many translate -->


<app-about></app-about>
<app-contact></app-contact>

<router-outlet></router-outlet> 